
@font-face {
  font-family: 'PFDinTextCondPro-Thin';
  src: url('PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Thin.woff') format('woff'), url('PFDinTextCondPro-Thin.ttf')  format('truetype'), url('PFDinTextCondPro-Thin.svg#PFDinTextCondPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
