.breadcrumbs {
	display: flex;
	margin: 0 0 25px;
	font-size: 12px;
	align-items: center;

	@include media($md) {
		font-size: 14px;
	}

	&__item {
		display: flex;
		position: relative;
		text-transform: uppercase;
		color: #6e90e3;
		
		&:not(:first-child) {
			@include media($sm) {
				margin: 0 0 0 30px;

				&::before {
					content: '';
					display: block;
					position: absolute;
					left: -15px;
					top: 50%;
					transform: translate(0, -50%);
					height: 40px;
					width: 1px;
					background: #e4ebf5;
				}
			}
		}

		&:not(:nth-last-child(2)) {
			display: none;
		}

		&:nth-last-child(2) {
			&::before {
				content: '<-';
				display: block;
				margin: 0 10px 0 0;

				@include media($sm) {
					content: '';
					margin: 0;
				}
			}
		}

		@include media($sm) {
			&:not(:nth-last-child(2)) {
				display: block;
			}
		}
	}

	&__link {
		color: #113da9;
	}
}