.catalog-menu {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;

	&__item {
		position: relative;
		flex-grow: 1;

		&:not(:first-child) {
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 25%;
				height: 50%;
				width: 0;
				border-left: 1px solid rgba(#fff, .2);
			}
		}
	}

	&__link {
		display: block;
		font-size: rem(16);
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 500;
		padding: rem(15) rem(30);
		white-space: nowrap;
		text-align: center;
		transition: color .25s;
		
		&:hover {
			color: #6186e1;
		}
	}
}

.dropdown-menu {
	position: absolute;
	z-index: 100;
	background: $color-primary;
	right: 0;
	top: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	transition: visibility .25s, opacity .25s, top .25s;

	&::before {
		content: '';
		display: block;
		position: absolute;
		border-bottom: 10px solid $color-primary;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		top: -10px;
		right: calc(50% - 10px);
	}

	.catalog-menu__item.is-active & {
		visibility: visible;
		opacity: 1;
		top: calc(100% + 20px);
	}
}