.sidebar {
	background: #f8f8f8;
	flex-shrink: 0;
	flex-grow: 0;
	align-self: flex-start;
	box-sizing: border-box;
	margin: 20px 0;
	max-width: 100%;
	width: 100%;

	@include media($lg) {
		width: 320px;
		min-width: 320px;
		margin: 0 30px 0 0;
	}

	&__section {
		padding: rem(20);

		@include media($md) {
			padding: rem(30);
		}

		&:not(:last-child) {
			border-bottom: 1px solid #fff;
		}

		&--header {
			border-bottom: none !important;
		}
	}
}