.button {
	display: inline-block;
	font-family: $font-primary;
	background: #113da9;
	color: #fff;
	font-size: rem(18);
	padding: 0 rem(30);
	height: 42px;
	line-height: 42px;
	border-radius: 42/2 + px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: background .25s;

	&--full {
		width: 100%;
	}
	
	&:hover {
		color: #fff;
		background: #1e2f59;
	}

	& > span {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 42px;

		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		i {
			display: block;
			width: 26px;
			height: 26px;
			margin: 0 15px 0 0;

			svg {
				max-width: 100%;
				max-height: 100%;
				fill: #fff;
			}
		}
	}
}

.icon-button {
	i {
		display: block;
		width: rem(30);
		height: rem(30);

		svg {
			max-width: 100%;
			max-height: 100%;
			fill: #113da9;
			transition: fill .25s;
		}
	}

	&--orange {
		i {
			svg {
				fill: $color-orange;
			}
		}
	}

	&:hover {
		i {
			svg {
				fill: $color-orange;
			}
		}
	}
}