{% macro sprite(id, viewBox, classes) %}
    {% set viewBox = viewBox or "0 0 1 1" %}
    <span class='sprite -{{ id }} {{ classes }}'>
    <svg viewBox="{{ viewBox }}"><use xlink:href='images/icons.svg#{{ id }}'></use></svg>
  </span>
{% endmacro %}

{% macro svg(id) %}
    <svg>
        <use xlink:href='icons/icons.svg#{{ id }}'></use>
    </svg>
{% endmacro %}

{% macro breadcrumbs(array) %}
    <div class="breadcrumbs">
        {% for item in  array %}
            {% if loop.last %}
                <span class="breadcrumbs__item">{{ item.title }}</span>
            {% else %}
                <span class="breadcrumbs__item"><a href="{{ item.link }}" class="breadcrumbs__link">{{ item.title }}</a></span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}