{% extends 'layouts/main.html' %}
{% from 'macros/helpers.html' import breadcrumbs %}

{#{% from 'data/global.json' import data %}#}
{% set title = "tirmarket | Главная" %}
{% set bodyClass = "" %}

{% block content %}

    <div class="page-size page-size--sm">
        {{ breadcrumbs([
            {"title": "Главная", "link": "/"},
            {"title": "Новости", "link": "/news.html"},
            {"title": "Представлен обновлённый грузовик Volvo Concept Truck"}
        ]) }}

        <div class="title _mb-3">Представлен обновлённый грузовик Volvo Concept Truck</div>

        <div class="date _mb-3">27/07/2017</div>

        <div class="wysiwyg _mb-4">
            <img src="pic/content-image-1.jpg" alt="" />
            <blockquote>Шведская компания Volvo Trucks официально презентовала обновлённую версию концептуального грузовика Volvo Concept Truck, впервые представленного весной прошлого года. Машина получила новые аэродинамические «одежды», благодаря которым удалось значительно снизить потребление топлива, а также новую гибридную силовую установку.</blockquote>
            <p>Обновлённый грузовик Volvo Concept Truck получил гибридную установку, работающую за счёт рекуперации энергии при движении под уклон более одного процента или при торможении. В компании отмечают, что накопленная в аккумуляторах энергия в дальнейшем используется для тяги на ровных дорогах или же на пологих подъёмах. Плюс ко всему, машина получила систему Volvo I-See, которая на основе топографических данных рассчитывает максимально экономичный режим движения и активацию компонентов силовой установки. Благодаря системе Volvo I-See у обновлённого грузовика отмечается оптимальная работа дизельного ДВС и электрического мотора.</p>
            <img src="pic/content-image-2.jpg" alt="" />
            <p>Отметим, что на текущий момент гибридные тягачи компании Volvo Trucks серийно не выпускаются. Однако производитель постоянно испытывает такой вид транспорта, а значит, в ближайшее время может начать производство машин с гибридным приводом.</p>
        </div>

        <a href="#">Вернуться к списку новостей</a>

    </div>

{% endblock %}
