{% extends 'layouts/catalog.html' %}
{% from 'macros/helpers.html' import breadcrumbs %}

{#{% from 'data/global.json' import data %}#}
{% set title = "tirmarket | Масла и смазки" %}
{% set bodyClass = "" %}

{% set catalog = [
    {
        "image": "pic/item-image-1.jpg",
        "title": "Джойстик управления соединяется с тросом",
        "exist": false
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Выключатель массы 24V VOLVO / MAN / IVECO / DAF / MB / ICARUS",
        "exist": true
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Pеле регулятор DAF / Iveco / Volvo / RVI",
        "exist": true
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Поршневой комплект 75,5 мм",
        "exist": false
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Pеле регулятор DAF / Iveco / Volvo / RVI",
        "exist": true
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Поршневой комплект 75,5 мм",
        "exist": true
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Поршневой комплект 75,5 мм",
        "exist": false
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Pеле регулятор DAF ",
        "exist": true
    },{
        "image": "pic/item-image-1.jpg",
        "title": "Поршневой комплект 75,5 мм",
        "exist": true
    }
] %}


{% block content %}

    <div class="page-size">
        {{ breadcrumbs([
            {"title": "Главная", "link": "/"},
            {"title": "Каталог товаров", "link": "/category.html"},
            {"title": "масла и смазки"}
        ]) }}

        <div class="_flex _lg-flex-nowrap">
            {% include "shared/structure/sidebar.html" %}

            <div class="content">
                <div class="_flex _grid-space-4 _items-center _mb-3">
                    <div class="title _flex-grow-1">Масла и смазки</div>

                    <div class="_col-auto _flex _items-center _grid-space-2 _lg-show">
                        <div class="form-label">Сортировать:</div>

                        <div class="_col-auto">
                            <select name="sort" class="select">
                                <option value="1">Наименованию</option>
                                <option value="2">Наименованию</option>
                                <option value="3">Наименованию</option>
                            </select>
                        </div>
                    </div>

                    <div class="_col-auto _flex _items-center _grid-space-2 _lg-show">
                        <div class="form-label">Показывать:</div>

                        <div class="_col-auto">
                            <select name="count" class="select">
                                <option value="1">12 товаров</option>
                                <option value="2">24 товаров</option>
                                <option value="3">30 товаров</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="_flex _grid-space-3">
                    {% for item in catalog %}
                        <div class="_col-12 _sm-col-6 _md-col-4 _lg-col-6 _xl-col-4 _mb-3">
                            {% include "shared/item-card.html" %}
                        </div>
                    {% endfor %}
                </div>

                {% include "shared/structure/paginator.html" %}
            </div>
        </div>
    </div>

    {% include "shared/seo-section.html" %}

{% endblock %}
