{% extends 'layouts/main.html' %}
{% from 'macros/helpers.html' import breadcrumbs %}

{#{% from 'data/global.json' import data %}#}
{% set title = "tirmarket | Главная" %}
{% set bodyClass = "" %}

{% block content %}

    <div class="page-size">
        {{ breadcrumbs([
            {"title": "Главная", "link": "/"},
            {"title": "Контакты"}
        ]) }}

        <div class="title _mb-3">Контакты</div>

        <div class="_flex _grid-space-4">
            {% for i in range(0, 5) %}
            <div class="_col-12 _sm-col-6 _md-col-4 _lg-col-3 _mb-5">
                <div class="contact-card">
                    <div class="contact-card__icon">{{ svg("marker") }}</div>

                    <div class="contact-card__data">
                        <div class="contact-card__city">г. Киев</div>
                        <div class="contact-card__location">ул. Леся Курбаса, 2-Б</div>
                        <div class="contact-card__phone"><a href="tel:+380501234567">+38 050 123 45 67</a></div>
                        <div class="contact-card__phone"><a href="tel:+380501234567">+38 067 123 45 67</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {%
            set location = "<div class='contact-card'><div class='contact-card__location'>ул. Леся Курбаса, 2-Б</div><div class='contact-card__phone'><a href='tel:+380501234567'>+38 050 123 45 67</a></div><div class='contact-card__phone'><a href='tel:+380501234567'>+38 067 123 45 67</a></div><div class='contact-card__email'><a href=''>info@tir-market.com.</a></div></div>"
        %}

        <div class="_mb-4" data-map='[{"latitude":"50.512099", "longitude": "30.498245", "info": "{{ location | escape }}"},{"latitude": "50.446152","longitude": "30.523688", "info": "{{ location | escape }}"},{"latitude": "50.515877","longitude": "30.605460", "info": "{{ location | escape }}"}]'></div>

    </div>

{% endblock %}
