{% extends 'layouts/main.html' %}
{% from 'macros/helpers.html' import breadcrumbs %}

{#{% from 'data/global.json' import data %}#}
{% set title = "tirmarket | Главная" %}
{% set bodyClass = "" %}

{% block content %}

    <div class="page-size">
        {{ breadcrumbs([
            {"title": "Главная", "link": "/"},
            {"title": "Оформление заказа", "link": "/"}
        ]) }}

        <div class="_flex _items-center _grid-space-3 _justify-center">
            <div class="_col-6 _text-center">
                <img src="pic/order-success.jpg" alt="" />
            </div>

            <div class="_col-12 _md-col-6 _text-center _md-text-left">
                <div class="title _mb-2">Спасибо за заказ!</div>
                <div class="title title--sm _mb-3">Ваш заказ оформлен</div>

                <div class="wysiwyg _mb-4">
                    <p>Вашему заказу присвоен номер №23235. <br>Наш менеджер в ближайшее время свяжется с Вами для уточнения деталей заказа.</p>
                </div>

                <a href="/" class="button">Продолжить покупки</a>
            </div>
        </div>
    </div>

{% endblock %}
