.news-card {
	display: flex;
	background: #fff;
	text-decoration: none;
	transition: box-shadow .25s;
	line-height: 1.2;

	&:hover {
		box-shadow: 0 rem(5) rem(15) rgba(#001341, .3);
	}

	&__image {
		display: none;
		flex-shrink: 0;
		flex-grow: 0;
		max-width: 50%;

		@include media(600px) {
			display: block;
		}

		img {
			display: block;
		}
	}

	&__body {
		flex-grow: 1;
		padding: rem(20);
	}

	&__date {
		font-size: rem(15);
		color: #627a9a;
		font-weight: 100;
		margin: 0 0 rem(10);
	}

	&__title {
		font-size: rem(20);
		color: #1e2227;
		font-weight: 500;
		margin: 0 0 rem(15);
		transition: color .25s;

		.news-card:hover & {
			color: #6c819b;
		}
	}

	&__descr {
		font-size: rem(16);
		color: #666666;
		line-height: 1.4;
		max-height: #{1.4 * 5}em;
		overflow: hidden;
	}
}