<div class="item-card">
    <a href="/product.html" class="item-card__image" style="background-image:url({{ item.image }});"></a>

    <div class="item-card__labels">
        {% if [true, false] | random %}<div class="label label--orange"><span>акция</span></div>{% endif %}
        {% if [true, false] | random %}<div class="label label--purple"><span>популярный</span></div>{% endif %}
        {% if [true, false] | random %}<div class="label label--green"><span>новинка</span></div>{% endif %}
    </div>

    <a href="/product.html" class="item-card__title">{{ item.title }}</a>

    <div class="item-card__code">Артикул: 2152345-Р5223</div>

    <div class="_flex _mb-3 _justify-between">
        <div class="_col-auto">
            <div class="item-card__price item-card__price--past">1 530 грн.</div>
            <div class="item-card__price">100 530 грн.</div>
        </div>

        <div class="_col-auto">
            {% if item.exist %}
                <div class="item-card__exist item-card__exist--true">В наличии</div>
            {% else %}
                <div class="item-card__exist item-card__exist--false">Нет в наличии</div>
            {% endif %}
        </div>
    </div>

    <div class="_flex _justify-between _items-center _grid-space-3 _flex-nowrap">
        <div class="_col-auto">
            {% if item.favorite %}
                <a href="#" class="icon-button icon-button--orange">
                    <i>{{ svg('star') }}</i>
                </a>
            {% else %}
                <a href="#" class="icon-button">
                    <i>{{ svg('star') }}</i>
                </a>
            {% endif %}
        </div>

        <div class="_col-auto _flex-grow-1">
            <a href="#" class="button button--full">
                <span>
                    <i>{{ svg('cart') }}</i>
                    {% if item.exist %}<span>В корзину</span>{% else %}<span>Заказать</span>{% endif %}
                </span>
            </a>
        </div>

    </div>

</div>