{% set news = [
    {
        "image": "pic/news-image-1.jpg",
        "title": "Европейское турне новых MAN TG в две строки",
        "descr": "Автопробег новых представителей мощных грузовиков серии MAN TG по Европе стартовал в октябре. В нем компания MAN Truck & Bus продемонстрировала новейшие автомобили модельного ряда TG, представленные на выставке IAA в Ганновере.",
        "date": "27/07/2017"
    },{
        "image": "pic/news-image-1.jpg",
        "title": "Европейское турне новых MAN TG",
        "descr": "Автопробег новых представителей мощных грузовиков серии MAN TG по Европе стартовал в октябре. В нем компания MAN Truck & Bus продемонстрировала новейшие автомобили модельного ряда TG, представленные на выставке IAA в Ганновере.",
        "date": "27/07/2017"
    }
] %}

<div class="_flex _grid-space-3">

    {% for item in news %}
    <div class="_col-12 _xl-col-6">
        {% include "./news-card.html" %}
    </div>
    {% endfor %}

</div>