
@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('/fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.woff') format('woff'),
			url('/fonts/PFDinTextCondProRegular/PFDinTextCondPro-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('/fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
			url('/fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.woff') format('woff'),
			url('/fonts/PFDinTextCondProMedium/PFDinTextCondPro-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('/fonts/PFDinTextCondProBold/PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/PFDinTextCondProBold/PFDinTextCondPro-Bold.woff') format('woff'),
			url('/fonts/PFDinTextCondProBold/PFDinTextCondPro-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextCondPro';
	src: url('/fonts/PFDinTextCondProThin/PFDinTextCondPro-Thin.eot?#iefix') format('embedded-opentype'),
			url('/fonts/PFDinTextCondProThin/PFDinTextCondPro-Thin.woff') format('woff'),
			url('/fonts/PFDinTextCondProThin/PFDinTextCondPro-Thin.ttf')  format('truetype');
	font-weight: 100;
	font-style: normal;
}
