$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$breakpoints: (
	xs: $xs,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$font-size-base: 16px;
$font-primary: 'PFDinTextCondPro', sans-serif;
$font-monospace: monospace;

$space: rem(20);

$space-factor: (
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 2
);

$text-color: #666666;

$color-primary: #163379;
$color-secondary: #f8f8f8;
$color-tertiary: #9a9fa3;

$color-red: #c1001b;
$color-green: #159040;
$color-orange: #ff4800;
$color-purple: #6f18b2;

$color-gray: #a2a2a2;
$color-gray-2: #e5e5e5;