.delivery-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70px;
	margin: 0 0 0 15px;

	img {
		display: block;
		max-height: 40px;
	}
}

.notification {
	background: #fff9d2;
	text-align: center;
	padding: 10px 20px;
}