
@font-face {
  font-family: 'PFDinTextCondPro-Bold';
  src: url('PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),  url('PFDinTextCondPro-Bold.woff') format('woff'), url('PFDinTextCondPro-Bold.ttf')  format('truetype'), url('PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
